
.fondo{
font-family: Verdana;
background-image: url(https://i.pinimg.com/564x/1a/9c/c4/1a9cc4ae5e7f7a5e097ae9ded89d37e8.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.contenedor {
  grid-template-columns: 300px 20px;
  text-align: center;
  border: 500px;
  size: 80px;
  margin-top: 5%;
}

.board {
  display: inline-block;
  margin-bottom: 20px;

}

.fila {
  text-align: center;
  display: flex;
  margin-left: 620px;
  
}
.celda:hover {
  background-color: rgb(209, 188, 240);; /* Cambia el color de fondo al pasar sobre las celdas */
}

.celda {
  
  width: 100px;
  height: 100px;
  border: 2px solid rgb(252, 252, 252);
  font-size: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(175, 139, 229);
  margin-left: 3px;
  border-radius: 10px; /* Bordes redondeados */
  
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 360px;
  margin-top: 40px;
  background-color: rgb(219, 162, 203);
  border-color: rgb(197, 146, 240);
  margin-top: 30px;
  
}
.titulo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 10px;
}
/* .audio{
  padding: 30px 10px 12px;
 margin-left: 20px;
 margin-top: 40px;
} */