

.rows {
    text-align: center;
    display: flex;
    margin-left: 620px;
    
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(248, 248, 248);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(250, 134, 221);
    margin-left: 3px;
    
  }
  .titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 90px;
    
  }