/* estilos para mi fondo de pagina */
.fondo {
  font-family: Verdana;
  background-image: url(https://i.pinimg.com/564x/1a/9c/c4/1a9cc4ae5e7f7a5e097ae9ded89d37e8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* esto contiene a todo mi tic tac toe ya que es un contenedor padre */
.contenedor {
  grid-template-columns: 300px 20px;
  text-align: center;
  border: 500px;
  size: 80px;
  margin-top: 5%;
  margin-left: 300;
}

.board {
  display: inline-block;
  margin-bottom: 20px;
}

.fila {
  text-align: center;
  display: flex;
  margin-left: 480px;
}
.celda:hover {
  background-color: rgb(
    209,
    188,
    240
  ); /* Cambia el color de fondo al pasar sobre las celdas */
}
/* el tic tac toe y sus celdas */
.celda {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(252, 252, 252);
  font-size: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(175, 139, 229);
  border-radius: 10px; /* Bordes redondeados */
}
.boot {
  border: none;
  background-color: rgb(231, 168, 219);
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
  margin-left: 46%;
  margin-top: 2%;
  margin-right: 90%;
}
/* titulo en el apartado de reglas */
.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 10px;
}
.audio {
  padding: 30px 10px 12px;
  margin-left: 20px;
  margin-top: 40px;
}
/* contiene estilos de mi html de reglas  */
.regla{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 20px;
}

/* los estilos de mi nav en el html de reglas */
.menu{
  
  margin-left: 0%;
  font-size: 130%;
  font-family: 'Franklin Gothic Medium',;
  font-style: italic;
  text-decoration: none;
  
}
/* esto contiene los estilos de mi ventana de contacto */
.contacto{
  font-family: arial;
  font-weight: 40px;
  justify-content: center;
  margin-right: 300px;
}