.video {
  z-index: -1;
  position: absolute;
  object-fit: fill;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.ticfruta {
  cursor: pointer;
  border: 1px solid #ce78c1;
  background-color: transparent;
  height: 60px;
  width: 200px;
  color: #eb72d1;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(224, 175, 217, 0.769);
  text-decoration: none;
  margin-top: 40px;
  margin-right: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
.ticnormal {
  cursor: pointer;
  border: 1px solid #e65cc8;
  background-color: transparent;
  height: 60px;
  width: 200px;
  color: #dc8ed1;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(224, 175, 217, 0.769);
  margin-right: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
.reglas {
  cursor: pointer;
  border: 1px solid #c534db;
  background-color: transparent;
  height: 60px;
  width: 200px;
  color: #db94d5;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(196, 152, 201, 0.769);
  margin-right: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
.botones {
  justify-content: center;
  margin-top: 200px;
  margin-left: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  color: rgba(19, 17, 118, 0.689);
  margin-top: 100px;
  text-align: center;
}
